web-dev-2016/task_3/npm-debug.log
web-dev-2016/task_6/.vscode/launch.json
web-dev-2016/task_6/node_modules/
web-dev-2016/task_6/part-2/node_modules/
web-dev-2016/task_6/part-1/node_modules/
web-dev-2016/task_6/part-3/node_modules/
web-dev-2016/task_7/node_modules/
web-dev-2016/task_8/node_modules/
web-dev-2016/task_9/node_modules/
web-dev-2016/task_10/node_modules/
web-dev-2016/task_10/dist/
